<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div style="color: black; background-color: red;">
        <h1>Hello Bhai ME </h1>
    <h2>Ye OTP 145482</h2>
    </div>


</body>
</html>